.MobileNavbar {
  background-color: #fcfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 70px;
  top: 0;

  .Logo {
    cursor: pointer;
    height: 65px;
    margin-left: 20px;
  }

  .Hamburger {
    font-size: 28px;
    margin-right: 20px;
    cursor: pointer;
  }

  .NavbarLinks {
    height: fit-content;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    // top: 0;
    left: 0;
    width: 100%;
    background-color: #fcfbfb;
    z-index: 1;
    padding: 10px 0;

    &.showNavbar {
      display: flex;
    }

    li {
      font-family: 'Mukta', sans-serif;
      font-weight: 400;
      font-style: normal;
      padding: 0px 20px;
      list-style-type: none;
      width: 100%;

      &.active a {
        color: rgb(52, 57, 152);
      }

      a {
        color: #0d0303c0;
        width: 100%;
        padding: 0 0;
        letter-spacing: 0.5px;
        text-decoration: none;
      }
    }
  }

  // Add styles for other elements as needed

  &.no-scroll {
    overflow: hidden;
  }
}
