.slider-container {
    width: 50%; /* Adjusted size */
    margin: 100px auto;
    text-align: center;
  
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .slide {
      img {
        width: 100%;
        height: auto;
        // border-radius: 10px;
      }
    }
  
    .slick-prev,
    .slick-next {
      color: #d83333;
      z-index: 1;
  
      &:hover,
      &:focus {
        color: #da1414;
      }
    }
  
    .slick-prev {
      left: 0;
    }
  
    .slick-next {
      right: 0;
    }
  
    .slick-dots.slick-thumb {
      bottom: -50px;
      display: flex !important;
      justify-content: center;
      
      li {
        width: auto;
        height: auto;
        margin: 0 5px;
  
        img {
          width: 50px; /* Thumbnail size */
          height: auto;
          border-radius: 5px;
        }
      }
  
      li.slick-active img {
        border: 2px solid #000;
      }
    }
  }
  

  // QUOTE 

  .quote-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
  
    .quote-content {
      flex: 1;
      text-align: left;
      padding: 20px;
  
      blockquote {
        font-size: 24px;
        color: #8d6e63;
        margin: 0;
        quotes: "“" "”" "‘" "’";
  
        &:before {
          content: open-quote;
        }
  
        &:after {
          content: close-quote;
        }
      }
  
      p {
        margin-top: 10px;
        font-size: 16px;
        color: #333;
      }
    }
  
    .quote-image {
      flex: 1;
      text-align: right;
      padding: 20px;
  
      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
    }
  }